* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFDE7;
    font-family: -apple-system-font, BlinkMacSystemFont, Helvetica, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
}

.container {
    display: inline-block;
    justify-content: center;
    text-align: justify;
    margin: 150px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 150px;
        margin-bottom: 150px;
}


.navbar {
    margin: 0;
    padding-bottom: 5%;
    top: 15%;
    left: 10%;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #234099;
    font-weight: bold;
}

li {
    margin-right: 60px;
    color: #234099;
}

.date-tag {
    padding-bottom: 5%;
}

#navbar-list {
    list-style-type: none;
    display: flex;
}

.articles_to_sort {
    list-style-type: disc;
    font-size: 16px;
}

.articles_to_sort_desc {
    list-style-type: none;
    font-size: 16px;
}


.article-content-2020 {
    display: flex;
    overflow: hidden;
    font-size: 16px;
}

.articles-2020 {
    width: 400px;
    float: left;
    display: inline-block;
}

.article-descriptions-2020 {
    width: 800px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}


.recs, .thoughts, .projects, .updates {
    text-indent: 4em;
    padding: 4%;
}

.recs-desc, .thoughts-desc, .projects-desc, .updates-desc {
    text-indent: 4em;
    padding: 2.4%;
}


li a {
    padding-right: 20%;
}

.nav a:hover, li a:hover {
    color: #749EB2;
    text-decoration: underline;
}

li p {
    display: inline;
    list-style-type: disc;
    text-indent: 2em;
}


#box-left {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border: 10em #FFFDE7;
    float: left;
}


a {
    padding: 0.1vw;
    color: #234099;
    text-decoration: none;
}

.topics {
    color: #234099;
    margin-top: 10px;
}

.filter-topic {
    margin-right: 20px;
    display: inline-block;
}

.intro {
    color: #234099;
    padding-bottom: 2.5%;
}

.date_tag {
    margin-top: 20px;
    vertical-align: top;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

