* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFDE7;
    font-family: -apple-system-font, BlinkMacSystemFont, Helvetica, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
}

.container {
    display: inline-block;
    justify-content: center;
    text-align: justify;
    margin: 150px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 150px;
        margin-bottom: 150px;
}


.navbar {
    margin: 0;
    padding-bottom: 10%;
    top: 15%;
    left: 10%;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #234099;
    font-weight: bold;
}

li {
    margin-right: 60px;
    color: #234099;
}

.date-tag {
    padding-bottom: 5%;
}

#navbar-list {
    list-style-type: none;
    display: flex;
}


li a {
    padding-right: 20%;
    font-size: 20px;
}

.nav a:hover, li a:hover {
    color: #749EB2;
    text-decoration: underline;
}

li p {
    display: inline;
    list-style-type: disc;
    text-indent: 2em;
}

p {
    line-height: 30px;
}

#box-left {
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    border: 10em #FFFDE7;
    float: left;
}


a {
    padding: 0.1vw;
    color: #234099;
    text-decoration: none;
}

.topics {
    color: #234099;
    margin-top: 10px;
}

.filter-topic {
    margin-right: 20px;
    display: inline-block;
}

.intro {
    color: #234099;
    padding-bottom: 2.5%
}

.article-content {
    width: 600px;
}

.text {
    color: #234099;
    padding-bottom: 2.5%;
}

ul li {
    font-size: 14px;
    line-height: 30px;
    list-style-position: inside;
}

.images {
    padding-right: 1%;
    padding-bottom: 1%;
    position: relative;
}


